body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    inset: 0 0 5px #ad0b0b;
}
::-webkit-scrollbar-thumb{
    background: #0000008c;
    border-radius: 10px;
}

.container{
    flex: 1;
}

.plus-jakarta-sans {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: #fff;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 8rem;
    background-color: #ebebeb;
}
/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 5px !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text {
    padding: 0 !important;
    margin: 0 !important;
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    background: white;
    opacity: 0.3;
}

/* New Listing Page */
.form-btn{
    background: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 30vh;

}

.btns{
    display: flex !important;
}

#map{
    height: 250px;
    width: 47vw;
}

.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filter{
    margin-right: 2.5rem;
    text-align: center;
    opacity: 0.7;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.filter i{
    font-size: 1.7rem;
}
.filter p{
    font-size: 1rem;
}
.tax-info{
    display: none;
}
.tax-toggler{
    border: #19181873 solid 2px;
    border-radius: 15px;
    padding: 10px;
    height: 3rem;
}
.search-btn{
    background-color: #fe424d !important;
    color: #fff !important;
    padding: 0 1rem 0 1rem;
    border-radius: 3rem !important;
}
.search-btn:hover{
    background-color: #fe424d;
    color: #fff;
}
.search-btn i{
    display: inline;
    margin-right: 0.5rem;
}
.search-input{
    border-radius: 3rem !important;
    padding: 0.5rem 3rem 0.5rem 3rem !important;
}